[Unit]
Description=Yubikey unlock session

[Service]
Type=simple
ExecStart=/usr/bin/yubikey-unlock-session
Restart=on-failure

[Install]
WantedBy=default.target
